<!DOCTYPE html>
<html>
  <head>
    <title>Curated</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <script>window.staticImages={
     logo: "<%= image_path("logo2.png") %>",
    image1: "<%= image_path("image1.png") %>", 
    image2: "<%= image_path("image2.jpg") %>", 
    image3: "<%= image_path("image3.jpg") %>", 
    image4: "<%= image_path("image4.jpg") %>", 
    image5: "<%= image_path("image5.jpg") %>", 
    image6: "<%= image_path("image6.jpg") %>", 
    image7: "<%= image_path("image7.jpg") %>", 
    image8: "<%= image_path("image8.jpg") %>", 
    image9: "<%= image_path("image9.jpg") %>", 
    image10: "<%= image_path("image10.jpg") %>", 
    image11: "<%= image_path("image11.jpg") %>", 
  
     }</script>
  
    <%= yield %>
  
  </body>
</html>
